@model IEnumerable<WhyApp.Models.ApplicationUser>
@using WhyApp.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var you = await UserManager.GetUserAsync(User);
}

<h4 class="top-margin">Admin</h4>
<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="container" style="border-radius: 5px;border: 1px solid #ffffff; min-height: 540px; max-height: 500px; overflow-y: scroll;">
        @foreach (var user in Model)
        { 
        <div class="row">
            <a class="btn btn-link" style="font-size: 18px;" data-toggle="modal" href="@("#EditModal" + user.Id)"><img class="img-user-navbar" src="@user.Picture" style="margin-right: 10px;" /> @user.Email</a>
            <div class="modal fade top-margin" id="@("EditModal" + user.Id)" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content text-center">
                    @using (Html.BeginForm("EditUserRole", "Home"))
                    {
                        <input type="hidden" value="@user.Id" name="Id" />
                        <div class="modal-header">
                            <h4 class="modal-title">Edit User Role</h4>
                            <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p class="text-left" style="font-size:18px;">
                                @if (user.FirstName != null || user.LastName != null) 
                                {
                                    <span>@user.FirstName @user.LastName</span><br/>
                                }
                                else 
                                {
                                    <span>(no name provided)</span><br/>
                                }
                            @user.Email</p>
                            <p>Which role to assign?</p>
                            <button id="AdminBtn" type="submit" class="btn btn-primary" name="role" value=1>ADMIN</button>
                            <button id="SuperUserBtn" type="submit" class="btn btn-primary" name="role" value=2>SUPERUSER</button>
                            <button id="UserBtn" type="submit" class="btn btn-primary" name="role" value=3>USER</button>
                        </div>
                    }
                    </div>
                </div>
            </div> 
        </div>
        }
    </div>
    <div class="row">
    </div>
</form>